<launch>
  <node pkg="turtlebot_app_manager" type="appmaster" name="appmaster" args="-p 11312" machine="c0"/>
  <node pkg="turtlebot_app_manager" type="app_manager" name="app_manager" args="--applist /opt/ros/groovy/stacks/turtlebot/turtlebot_bringup/apps" machine="c0">
        <param name="interface_master" value="http://tnmain:11312"/>
  </node>
</launch>
